<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community Posts</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<style>
    .post{
        background-color: rgb(210, 105, 30);
        font-family: "Poppins", sans-serif;
    }
</style>
<body>
    <h1>All Posts</h1>
    <% for(post of posts){ %>
        <div class="post">
            <h4>Username : <%=post.name %></h4>
            <h4>content : <%=post.content %></h4>
            <button><a href="/login/<%=post.postId %>/<%=id %>/posts">Delete Post</a></button>
        </div>
    <% } %> 
    <form action="/login/<%=id %>/create">
        <button>Create Post</button>
    </form>
</body>
</html>